/*Color del body*/
body {
    background-color: #fff;
}

/*Base palette*/
.cl1 {
    background-color: #6b89ac;
}

.cl2 {
    background-color: #5a7491;
}

.cl3 {
    background-color: #4a5f77;
}

.cl4 {
    background-color: #3a4c5f;
}

.cl5 {
    background-color: #2b3846;
}

.cl6 {
    background-color: #1c242e;
}

/*White element*/
.clw {
    background-color: #fff;
}

/*Grey element*/
.clgreyl1 {
    background-color: #eee;
}

.clgreyl2 {
    background-color: #ddd;
}

.clgreyl3 {
    background-color: #ccc;
}

.clgreyl4 {
    background-color: #bbb;
}

.clgreyl4 {
    background-color: #aaa;
}

/*Text style*/
.clbktx {
    color: #000;
}

.clwtx {
    color: #fff;
}

/*Border element*/
.clborder {
    border-bottom: #2b3846 30px solid;
}

/*Borders para el manual*/
.table-of-contents a {
    color: #313131;
}

.table-of-contents a:hover {
    font-weight: 600;
    padding-left: 15px;
    border-left: 6px solid #41556b;
    color: #313131;
}

.table-of-contents a.active {
    font-weight: 600;
    padding-left: 14px;
    border-left: 10px solid #2b3846;
    color: #313131;
}

/*Colores de inputs*/
input[type=range]+.thumb {
    background-color: #4a5f77 !important;
}

input[type=range]+.thumb.active .value {
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    position: relative;
    bottom: 5px;
    left: 1px;
}