/*Base palette*/
.cl1 {
    background-color: #272c31;
}

.cl2 {
    background-color: #2e343a;
}

.cl3 {
    background-color: #3b424b;
}

.cl4 {
    background-color: #444c57;
}

.cl5 {
    background-color: #4c5663;
}

.cl6 {
    background-color: #596675;
}

/*White element*/
.clw {
    background-color: #3b424b;
}

/*Grey element*/
.clgreyl1 {
    background-color: #272c31;
}

.clgreyl2 {
    background-color: #2e343a;
}

.clgreyl3 {
    background-color: #3b424b;
}

.clgreyl4 {
    background-color: #444c57;
}

.clgreyl4 {
    background-color: #aaa;
}

/*Text style*/
.clbktx{
    color: #ffffff;
}

.clwtx{
    color: #000000;
}

/*Border element*/
.clborder {
    border-bottom: #232b33 30px solid;
}

/*Borders para el manual*/
.table-of-contents a{
    color: #ffffff;
}

.table-of-contents a:hover {
    font-weight: 600;
    color: #ffffff;
    padding-left: 15px;
    border-left: 6px solid #c9c9c9;
}

.table-of-contents a.active {
    font-weight: 600;
    padding-left: 14px;
    color: #ffffff;
    border-left: 10px solid #ffffff;
}