/*Color del body*/
body{
    background-color: #272c31;
}

/*Base palette*/
.cl1 {
    background-color: #272c31;
}

.cl2 {
    background-color: #2e343a;
}

.cl3 {
    background-color: #3b424b;
}

.cl4 {
    background-color: #444c57;
}

.cl5 {
    background-color: #4c5663;
}

.cl6 {
    background-color: #596675;
}

/*White element*/
.clw {
    background-color: #3b424b;
}

/*Grey element*/
.clgreyl1 {
    background-color: #272c31;
}

.clgreyl2 {
    background-color: #2e343a;
}

.clgreyl3 {
    background-color: #3b424b;
}

.clgreyl4 {
    background-color: #444c57;
}

.clgreyl4 {
    background-color: #aaa;
}

/*Text style*/
.clbktx{
    color: #ffffff !important;
}

.clwtx{
    color: #000000 !important;
}

/*Border element*/
.clborder {
    border-bottom: #232b33 30px solid;
}

/*Borders para el manual*/
.table-of-contents a{
    color: #ffffff;
}

.table-of-contents a:hover {
    font-weight: 600;
    color: #ffffff;
    padding-left: 15px;
    border-left: 6px solid #c9c9c9;
}

.table-of-contents a.active {
    font-weight: 600;
    padding-left: 14px;
    color: #ffffff;
    border-left: 10px solid #ffffff;
}

/*Colores de unidad 1*/
.navUnit1{
    background-color: #557063;
}

.nav-superiorUnit1{
    background-color: #272c31 !important;
}

.leftBorderUnit1{
    border-left: #7aa38f 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
    color: #3d3d3d;
}

.leftBorderSecondaryUnit1{
    border-left: #9BCFB6 10px solid !important;
    transition: all .2s ease;
    color: #3d3d3d;
}

.leftBorderUnit1:hover, .leftBorderSecondaryUnit1:hover{
    background-color: #272c31;
    border-left: #5c796b 20px solid !important;
}

.activeLinkOptionsContentUnit1{
    background-color: #607c6f;
    border-left: #4a6156 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit1{
    border-left: #5c796b 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 2*/
.navUnit2{
    background-color: #805458;
}

.nav-superior{
    background-color: #a0686e !important;
}

.footerDesign{
    border-bottom: #a0686e 30px solid !important;
}

.leftBorder{
    border-left: #724b4f 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondary{
    border-left: #b87c82 10px solid !important;
    transition: all .2s ease;
}

.leftBorder:hover, .leftBorderSecondary:hover{
    background-color: #272c31;
    border-left: #583b3e 20px solid !important;
}

.activeLinkOptionsContent{
    background-color: #9b666c;
    border-left: #5f3f42 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOn{
    border-left: #724b4f 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 3*/
.navUnit3{
    background-color:#996D99;
}

.nav-superior{
    background-color: #745474 !important;
}

.footerDesign{
    border-bottom: #745474 30px solid !important;
}

.leftBorder{
    border-left: #745474 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondary{
    border-left: #9b719b 10px solid !important;
    transition: all .2s ease;
}

.leftBorder:hover, .leftBorderSecondary:hover{
    background-color: #272c31;
    border-left: #4d394d 20px solid !important;
}

.activeLinkOptionsContent{
    background-color: #886388;
    border-left: #5f455f 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOn{
    border-left: #745474 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 4*/
.navUnit4{
    background-color: #ac655d;
}

.nav-superior{
    background-color: #d67c72 !important;
}

.footerDesign{
    border-bottom: #b6685f 30px solid !important;
}

.leftBorder{
    border-left: #be6e65 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondary{
    border-left: #f79186 10px solid !important;
    transition: all .2s ease;
}

.leftBorder:hover, .leftBorderSecondary:hover{
    background-color: #272c31;
    border-left: #9e5c55 20px solid !important;
}

.activeLinkOptionsContent{
    background-color: #ac645c;
    border-left: #7e4a44 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOn{
    border-left: #d67c72 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 5*/
.navUnit5{
    background-color: #78819e;
}

.nav-superior{
    background-color: #919bbd !important;
}

.footerDesign{
    border-bottom: #919bbd 30px solid !important;
}

.leftBorder{
    border-left: #919bbd 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondary{
    border-left: #b5c1eb 10px solid !important;
    transition: all .2s ease;
}

.leftBorder:hover, .leftBorderSecondary:hover{
    background-color: #272c31;
    border-left: #697088 20px solid !important;
}

.activeLinkOptionsContent{
    background-color: #737b96;
    border-left: #363a47 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOn{
    border-left: #919bbd 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}