/*Color del body*/
body{
    background-color: #fff;
}

/*Base palette*/
.cl1 {
    background-color: #6b89ac;
}

.cl2 {
    background-color: #5a7491;
}

.cl3 {
    background-color: #4a5f77;
}

.cl4 {
    background-color: #3a4c5f;
}

.cl5 {
    background-color: #2b3846;
}

.cl6 {
    background-color: #1c242e;
}

/*White element*/
.clw {
    background-color: #fff;
}

/*Grey element*/
.clgreyl1 {
    background-color: #eee;
}

.clgreyl2 {
    background-color: #ddd;
}

.clgreyl3 {
    background-color: #ccc;
}

.clgreyl4 {
    background-color: #bbb;
}

.clgreyl4 {
    background-color: #aaa;
}

/*Text style*/
.clbktx{
    color: #000;
}

.clwtx{
    color: #fff;
}

/*Border element*/
.clborder {
    border-bottom: #2b3846 30px solid;
}

/*Borders para el manual*/
.table-of-contents a{
    color: #313131;
}

.table-of-contents a:hover {
    font-weight: 600;
    padding-left: 15px;
    border-left: 6px solid #41556b;
    color: #313131;
}

.table-of-contents a.active {
    font-weight: 600;
    padding-left: 14px;
    border-left: 10px solid #2b3846;
    color: #313131;
}

/*Colores de unidad 1*/
.navUnit1{
    background-color: #557063;
}

.nav-superiorUnit1{
    background-color: #698b7b !important;
}

.leftBorderUnit1{
    border-left: #7aa38f 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
    color: #3d3d3d;
}

.leftBorderSecondaryUnit1{
    border-left: #9BCFB6 10px solid !important;
    transition: all .2s ease;
    color: #3d3d3d;
}

.leftBorderUnit1:hover, .leftBorderSecondaryUnit1:hover{
    background-color: rgb(202, 202, 202);
    border-left: #5c796b 20px solid !important;
}

.activeLinkOptionsContentUnit1{
    background-color: #607c6f;
    border-left: #4a6156 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit1{
    border-left: #5c796b 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 2*/
.navUnit2{
    background-color: #805458;
}

.nav-superiorUnit2{
    background-color: #a0686e !important;
}

.footerDesignUnit2{
    border-bottom: #a0686e 30px solid !important;
}

.leftBorderUnit2{
    border-left: #724b4f 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondaryUnit2{
    border-left: #b87c82 10px solid !important;
    transition: all .2s ease;
}

.leftBorderUnit2:hover, .leftBorderSecondaryUnit2:hover{
    background-color: rgb(202, 202, 202);
    border-left: #583b3e 20px solid !important;
}

.activeLinkOptionsContentUnit2{
    background-color: #9b666c;
    border-left: #5f3f42 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit2{
    border-left: #724b4f 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 3*/
.navUnit3{
    background-color:#996D99;
}

.nav-superiorUnit3{
    background-color: #745474 !important;
}

.footerDesignUnit3{
    border-bottom: #745474 30px solid !important;
}

.leftBorderUnit3{
    border-left: #745474 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondaryUnit3{
    border-left: #9b719b 10px solid !important;
    transition: all .2s ease;
}

.leftBorderUnit3:hover, .leftBorderSecondaryUnit3:hover{
    background-color: rgb(202, 202, 202);
    border-left: #4d394d 20px solid !important;
}

.activeLinkOptionsContentUnit3{
    background-color: #886388;
    border-left: #5f455f 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit3{
    border-left: #745474 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 4*/
.navUnit4{
    background-color: #ac655d;
}

.nav-superiorUnit4{
    background-color: #d67c72 !important;
}

.footerDesignUnit4{
    border-bottom: #b6685f 30px solid !important;
}

.leftBorderUnit4{
    border-left: #be6e65 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondaryUnit4{
    border-left: #f79186 10px solid !important;
    transition: all .2s ease;
}

.leftBorderUnit4:hover, .leftBorderSecondaryUnit4:hover{
    background-color: rgb(202, 202, 202);
    border-left: #9e5c55 20px solid !important;
}

.activeLinkOptionsContentUnit4{
    background-color: #ac645c;
    border-left: #7e4a44 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit4{
    border-left: #d67c72 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Colores de unidad 5*/
.navUnit5{
    background-color: #78819e;
}

.nav-superiorUnit5{
    background-color: #919bbd !important;
}

.footerDesignUnit5{
    border-bottom: #919bbd 30px solid !important;
}

.leftBorderUnit5{
    border-left: #919bbd 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondaryUnit5{
    border-left: #b5c1eb 10px solid !important;
    transition: all .2s ease;
}

.leftBorderUnit5:hover, .leftBorderSecondaryUnit5:hover{
    background-color: rgb(202, 202, 202);
    border-left: #697088 20px solid !important;
}

.activeLinkOptionsContentUnit5{
    background-color: #737b96;
    border-left: #363a47 20px solid !important;
    color: #fff;
    font-weight: 600;
}

.leftBorderOnUnit5{
    border-left: #919bbd 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}