/*Cargador shimmer*/
.shimmer {
    color: grey;
    display:inline-block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    }
    
    @keyframes shimmer {
        100% {
            -webkit-mask-position: left
        }
    }

/*Clase para ocultar los elementos*/
.readyContentScreen{
    display: none;
}

.loadingBoxShimmerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.loadingBoxShimmer{
    width: 60%;
    height: 150px;
    border-radius: 10px;
}

.loadingBoxShimmerHuge{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.loadingTextShimmerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 5px 0;
}

.loadingText{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 5px 0;
}