/*Contenedor principal de la evaluacion*/

.evaluationFatherContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  padding: 20px;
}

@media (max-width: 800px) {
  .evaluationFatherContainer {
    gap: 5px;
    padding: 5px;
  }
}

/*Titulo de la evaluacion*/

.tituloEvaluacion {
  padding: 20px 10px 10px 10px;
}

.notaStyle {
  padding: 20px;
}

@media (max-width: 800px) {
  .tituloEvaluacion {
    padding: 10px 10px 0 10px;
  }

  .notaStyle {
    padding: 10px;
  }
}

/*Contenedor para los contadores de la evaluacion*/

.cardsEvaluation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  margin: 10px;
}

@media (max-width: 800px) {
  .cardsEvaluation {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    margin: 10px;
  }
}

.cardsEvaluationTwo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  margin: 10px;
}

@media (max-width: 800px) {
  .cardsEvaluationTwo {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    margin: 10px;
  }
}

.contenedorBarraProgreso {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.contenedorBarraProgresoTexto {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#contadorPreguntas,
#contadorPreguntasRespondidas,
#fechaActual,
#tiempoActualHoras,
#intentosActuales {
  padding: 0 0 0 10px;
}

/*Contenedor para el boton de las descargas*/

.cardsEvaluationDownload {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  margin: 0 10px;
}

@media (max-width: 800px) {
  .cardsEvaluationDownload {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    margin: 0 10px;
  }
}

/*Estilos para las preguntas de opt multiple*/

.cardPregunta {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}

/*Primera sección*/

.titleQuestionContainer {
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
}

.preguntaIdentificador {
  font-weight: 600;
  padding: 10px;
}

.preguntaEnunciado {
  font-weight: 400;
  padding: 10px;
  height: 140px;
}

/*Segunda seccion*/

.optionsQuestionContainer {
  min-height: 130px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px 10px 20px;
}

/*Tercera seccion*/

.evaluateQuestionContainer {
  height: auto;
  width: 100%;
  padding: 10px;
}

.btnIndividualQuestion {
  width: 100%;
}

/*Retroalimentacion de la pregunta*/

.retroalimentacion {
  width: 100%;
  height: auto;
  margin: 10px;
}

.mensajeCorrecta {
  padding: 10px;
  color: #9cd6b2;
  background-color: rgb(53, 82, 53);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

.mensajeIncorrecta {
  padding: 10px;
  color: #ffbcbc;
  background-color: rgb(85, 36, 36);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}

/*Barra de progreso*/

#barraPreguntas {
  background-color: #00cc7a;
  height: 25px;
  border-radius: 100px;
  width: 5px;
}

/*Inputs eliminar estilos*/
input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  border: none !important;
  border-bottom: none !important;
  border-radius: 10px !important;
  outline: none;
  width: 100%;
  font-size: 1.4rem !important;
  font-weight: 500;
  margin: 0 0 20px 0;
  box-shadow: none !important;
  box-sizing: border-box !important;
  transition: all 0.3s;
  border-bottom: none;
  background-color: #ffffff !important;
  padding: 5px 10px !important;
  width: 100% !important;
  height: 50px !important;
  color: #363636;
}

/*Buttons para el true y el false*/
.optionsQuestionContainerTF {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 0px;
}

.optionsQuestionContainerTF div {
  padding: 10px 10px;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttonTrue {
  border-radius: 10px 0 0 10px;
}

.buttonFalse {
  border-radius: 0 10px 10px 0;
}

/*Contenedor de definiciones y conceptos*/
.conceptsDefinitionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 20px;
  gap: 20px;
}

.conceptosCajaContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  height: auto;
  gap: 20px;
}

@media (max-width: 1000px) {
  .conceptsDefinitionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 10px;
    gap: 10px;
  }

  .conceptosCajaContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .conceptosCajaContainer {
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
    align-content: center;
  }
}

.definicionCajaContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.definicionCajaContainerFather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

@media (max-width: 1000px) {
  .definicionCajaContainer {
    padding: 10px;
  }

  .definicionCajaContainerFather {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.conceptosCaja {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  cursor: all-scroll;
  position: relative;
}

@media (max-width: 500px) {
  .conceptosCaja {
    height: 40px;
    width: 85%;
  }
}

.definicionCaja {
  height: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.definicionCaja p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.definicionCaja div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  width: 100%;
}
